body{
  background-color: #1A1923;
  color: white;
  font-family: 'Libre Baskerville', serif;
}

.App {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  padding: 32px 32px 0px 32px;
}
.main{
  flex: .8;
}

.header p{
  font-size: 12px;
}

.Card p{
    line-height: 1.5em;
    font-size: 28px;
    text-align:left;
    font-weight: bold;
    letter-spacing:0.04em;
}

.footer{
  width: 100%;
}

.footer a{
  float: right;
  font-size: 16px;
  font-weight: bold;
}

.footer a:hover{
  padding-bottom:1px;
  border-bottom: 1px solid white;
  cursor: grabbing;
}
